// #### palette scheme ####
// style: vintage
// dark color:    #4B352A
// danger color:  #CA7842
// success color: #B2CD9C
// warning color: #F0F2BD

// global variables
// font
$font-family-base: "Roboto Condensed Variable", sans-serif;

// color
$primary: #4B352A;
$body-color: #4B352A;
