.wh-title-panel {
    display: flex;
    align-items: center;

    width: 100%;
    padding: 1rem;

    @include media-breakpoint-up(lg) {
        padding: 0.5rem 1rem;
    }
}

.wh-title {
    flex: 1 1 auto;

    > a {
        text-decoration: none;
        line-height: 2rem;

        font: {
            family: "Iceland", sans-serif;
            size: 1.8rem;
        }

        > i {
            display: inline-block;
            margin-bottom: 2px;
        }
    }
}
