// icon mixins
@mixin wh-icon-size($size) {
    width: $size;
    height: $size;
    line-height: $size;
}

// icon classes
.wh-icon {
    display: inline-block;
    vertical-align: middle;
    stroke-width: 1.5px;
    @include wh-icon-size(1.5rem);
}

.wh-icon-sm {
    @include wh-icon-size(1.2rem);
}

.wh-icon-lg {
    @include wh-icon-size(1.8rem);
}

.wh-broken-icon {
    text-align: center;
    background-color: $warning;

    border: {
        color: $danger;
        style: $border-style;
        width: $border-width;
        radius: $border-radius;
    }
}
